{% extends "navbar.html" %}
{% block content %}
<head>
<body>
<main role="main" class="container">
    <form action="" method="post">
        <div>{{ form.csrf_token }}</div>

        <h6>{{ form.name.label.text }}</h6>
        {{ form.name(class="form-control", style="max-width: 30vw") }}</br>

        <h6>{{ form.level.label.text }}</h6>
        <p>{{ form.level(class="form-select", style="min-width: 75px") }}</p>

        {{ form.submit(type="submit", class="btn btn-primary", style="min-width: 75px") }}
    </form>
    <p></p>

    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <p>You are about to delete one track, this procedure is irreversible.</p>
                    <p>Do you want to proceed?</p>
                    <p class="debug-url"></p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger btn-ok">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-danger"
       data-href="{{url_for('delete_olympiad', id=olympiad.id)}}"
       data-toggle="modal"
       data-target="#confirm-delete">Delete</a>
</main>
<script>
        $('#confirm-delete').on('show.bs.modal', function(e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        });



</script>
</body>
{% endblock %}
