{% extends "navbar.html" %}
{% set active_page = "transfer" %}
{% block content %}
<head>
<body>
<main role="main" class="container">
    <p></p>
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Confirm Transfer</h4>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>You are about to delete a student and all connected records, this procedure is
                        irreversible.</p>
                    <p>Do you want to proceed?</p>
                    <p class="debug-url"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-success btn-ok">Transfer</a>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 50vw;"><b>
        При переводе детей в следующий учебный год, у всех обучающихся
        текущий класс увеличится на один, а ученики 11-х
        класов будут считаться выпустившимися.
        Перевод выполняется в начале учебного года и только один раз.
    </b></div><br>
    <a class="btn btn-success"
       data-href="{{url_for('confirm_transfer')}}"
       data-toggle="modal"
       data-target="#confirm-delete">Transfer</a>
</main>
<script>
$('#confirm-delete').on('show.bs.modal', function(e) {
$(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
});


</script>
</body>
{% endblock %}
